<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MyResume Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/bkpic." rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/js/script.js" defer></script>
</head>

<body>
  <!-- ======= Header ======= -->
  
  <div class="na" >
  <header id="header" class="fixed-top d-flex header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/templates/">Accuracy</a></li>
        <li><a class="nav-link scrollto" href="#resume">Data Info</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Report</a></li>
        <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </header>
  </div>
  <div class="he">
    <p class="note">Sentiment Analysis</p>
    <p class="sub-note">Process the tweets and gives the output as Positive, Negative and Neutral</p>
  </div>
  <div class="page-content">
    <div class="card">
        <div class="content">
            <h2 class="title">Single Comment Analysis</h2>
            <p class="copy">Sentiment analysis can be done on a single line (single comment)</p>
            <button class="btn" onclick="window.location.href='/single'">Visit Page</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title" style="font-size: 1.9rem;">File Analysis</h2>
            <p class="copy">By uploading an excel file, sentiment analysis is done on it</p>
            <button class="btn" onclick="window.location.href='/file'">Visit Page</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Twitter Tag Analysis</h2>
            <p class="copy">Analysis is done on the active Twitter tag comments</p>
            <button class="btn" onclick="window.location.href='/search'">Visit Page</button>
        </div>
    </div>
  </div>
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Project keywords</h6>
          <ul class="footer-links">
            <li>Sentiment Analysis</li>
            <li>Unstructured Data</li>
            <li>Python</li>
            <li>Flask</li>
            <li>Scikit-Learn</li>
            <li>Matlplotlin (Result Graph)</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="">Home</a></li>
            <li><a href="">Accuracy</a></li>
            <li><a href="">Data Info</a></li>
            <li><a href="">Report</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="#">IV CSD Project Team 2</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
        </div>
      </div>
    </div>
</footer>
  
</body>

</html>